<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cardcamera.ch">

    <application>
        <activity
            android:name=".camera.CameraActivity"
            android:screenOrientation="landscape"
            android:theme="@style/theme_fullScreen" />
    </application>

</manifest>